backoff==2.2.1
beautifulsoup4==4.11.1
cached_property==1.5.2
eth-abi
ethtx
importlib_metadata==4.6.4
jsonpickle==2.2.0
numpy==1.22.4
pandas==1.5.0rc0
pandas_gbq==0.17.9
polygonscan-python==2.25.1
protobuf
pycoingecko==3.0.0
pypika==0.48.9
PyRSMQ==0.4.5
pytest==7.1.2
python_json_config==1.2.3
ratelimit==2.2.1
selenium==4.5.0
setuptools==59.6.0
simpy
Sphinx==4.3.2
toolz==0.11.2
web3==5.29.2
websockets==10.3