beautifulsoup4==4.11.1
importlib_metadata==4.6.4
PyRSMQ==0.4.5
pycoingecko==3.0.0
pytest==7.1.2
python_json_config==1.2.3
setuptools==59.6.0
Sphinx==4.3.2
web3==5.29.2
selenium==4.5.0
pandas==1.5.0rc0
eth-abi
websockets==10.3
jsonpickle==2.2.0
pandas_gbq==0.17.9
protobuf
ratelimit==2.2.1
backoff==2.2.1
cached_property==1.5.2
ethtx
simpy
numpy==1.22.4
toolz==0.11.2
pypika==0.48.9
polygonscan-python==2.25.1